# log関係のものがあると、dockerのmysqlコンテナがexit(1)してしまうため、記載しない。

[mysqld]
user=mysql
character_set_server = utf8mb4
collation_server = utf8mb4_0900_ai_ci

# timezone
default-time-zone = SYSTEM

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
